@charset "utf-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff;
	margin: 0; /* il est conseillé de mettre à zéro la marge et le remplissage de l'élément body, pour tenir compte des différentes valeurs par défaut des navigateurs */
	padding: 0;
	text-align: center; /* ce paramétrage centre le conteneur dans les navigateurs IE 5.x. Le texte est ensuite aligné à gauche (valeur par défaut) dans le sélecteur #container */
	color: #000000;
}

/* Conseils pour cette mise en page hybride 
1. La dimension de base (indiquée en ems) des colonnes latérales est basée sur la taille de police par défaut de l'utilisateur. Il est donc important de veiller à ce que les graphismes d'arrière-plan des colonnes en tiennent compte. Avec un codage correct, l'accessibilité est meilleure pour les utilisateurs ayant besoin de polices de grande taille, puisque la largeur des colonnes reste proportionnelle. Si ce choix est incompatible avec la mise en page voulue, il suffit d'indiquer la largeur en pixels et de modifier en conséquence la taille des marges du div #mainContent.
2. La taille des colonnes latérales de cette disposition étant basée sur la taille à 100 % du texte dans l'élément body, si vous diminuez globalement la taille du texte en utilisant la propriété font-size: 80% pour l'élément body ou l'élément #container, n'oubliez pas que la largeur des colonnes sera proportionnellement réduite. Pour compenser cette réduction, il est conseillé d'augmenter leur largeur, ainsi que la taille des marges latérales de l'élément div #mainContent.
3. Si la taille de police est modifiée individuellement dans chaque élément div au lieu d'une modification globale (par ex. : la taille de police de #sidebar1 est réduite à 70 % et celle de #mainContent à 85 %), ce choix modifiera proportionnellement la taille globale de chaque élément div. Il est conseillé de modifier la taille de police en fonction de la taille de police finale.
4. L'élément div #container n'est pas nécessaire pour cette disposition avec la largeur 100&nbsp;%. Toutefois, vous pouvez l'utiliser pour créer de fausses colonnes ou limiter la largeur de la mise en page.
5. Il n'est pas nécessaire de définir une largeur de 100&nbsp;% pour l'élément div #container puisque, par définition, un élément div utilise 100&nbsp;% de l'espace disponible. Toutefois, sa présence ici permet si nécessaire de réduire plus aisément la taille du conteneur global (en laissant un peu de marge de part et d'autre).
*/
.thrColHybHdr #container { 
	width: 100%;
	background: #FFFFFF;
	/*margin: 0 auto;  les marges automatiques (et dotées d'une largeur positive) centrent la page si nécessaire */
	text-align: left; /* ce paramétrage annule le paramètre text-align: center de l'élément body. */
}  
.thrColHybHdr #header { 
	background: #DDDDDD; 
	padding: 0 10px;  /* ce remplissage correspond à l'alignement à gauche des éléments des div qui apparaissent en dessous. Si, au lieu de texte, c'est une image qui est insérée dans l'élément #header, il est conseillé de supprimer le remplissage. */
} 
.thrColHybHdr #header h1 {
	margin: 0; /* la mise à zéro de la marge du dernier élément du div #header permet d'éviter une disparition de la marge (espace inexplicable entre les éléments div). Si l'élément div est entouré d'une bordure, cette précaution n'est pas nécessaire, car la bordure évite également la disparition de la marge */
	padding: 10px 0; /* l'utilisation de remplissage, au lieu d'une marge, permet d'éloigner l'élément des bords de l'élément div */
}

/* Conseils pour sidebar1 :
1. si vous définissez une valeur de taille de police pour cet élément div, la largeur totale de ce dernier sera ajustée en conséquence.
2. Comme nous travaillons en ems, il est préférable de ne pas utiliser de remplissage pour l'encadré même. Pour les navigateurs conformes aux standards, il sera ajouté à la largeur, créant ainsi une largeur réelle inconnue. 
3. Pour créer un espace entre le côté de l'élément div et les éléments qu'il contient, attribuez une marge gauche et une marge droite à ces éléments, comme dans la règle ".thrColHybHdr #sidebar1 p".
*/
.thrColHybHdr #sidebar1 {
	float: left; 
	width: 11em; /* cet élément est flottant, il faut donc lui attribuer une largeur */
	background: #EBEBEB; /* la couleur de l'arrière-plan est affichée sur la largeur du contenu de la colonne, mais pas au-delà */
	padding: 15px 0; /* le remplissage en haut et en bas crée un espace visuel à l'intérieur de cet élément div */
}
.thrColHybHdr #sidebar2 {
	float: right; 
	width: 11em; /* cet élément est flottant, il faut donc lui attribuer une largeur */
	background: #EBEBEB; /* la couleur de l'arrière-plan est affichée sur la largeur du contenu de la colonne, mais pas au-delà */
	padding: 15px 0; /* le remplissage en haut et en bas crée un espace visuel à l'intérieur de cet élément div */
}
.thrColHybHdr #sidebar1 h3, .thrColHybHdr #sidebar1 p, .thrColHybHdr #sidebar2 p, .thrColHybHdr #sidebar2 h3 {
	margin-left: 10px; /* il est conseillé d'attribuer des valeurs pour les marges gauche et droite de chaque élément qui sera placé dans les colonnes latérales */
	margin-right: 10px;
}

/* Conseils pour mainContent :
1. Si vous attribuez à cet élément div #mainContent une valeur de police différente de celle utilisée pour l'élément div #sidebar1, les marges de l'élément div #mainContent seront basées sur la taille de sa police, et la largeur de l'élément div #sidebar1 sera basée sur la taille de sa police. Il peut être utile de modifier les valeurs de ces éléments div.
2. L'espace compris entre les éléments mainContent et sidebar1 est créé avec la marge gauche de l'élément div mainContent.  Quelle que soit la taille du contenu dans l'élément div sidebar1, l'espace des colonnes reste préservé. Vous pouvez supprimer cette marge gauche si vous souhaitez que le texte de l'élément div #mainContent remplisse l'espace de l'élément #sidebar1 lorsque le contenu de ce dernier se termine.
3. Pour éviter une perte de l'élément flottant, il peut être nécessaire de faire des tests pour déterminer la taille maximale approximative de l'image ou de l'élément, car cette disposition est basée sur une combinaison de la taille de police par défaut de l'utilisateur et des valeurs que vous définissez. Toutefois, si la taille de police d'un utilisateur est inférieure à la taille normale, l'espace disponible dans le div #mainContent sera moins important que celui que vous verrez lors de vos tests.
4. Dans le commentaire conditionnel pour Internet Explorer ci-dessous, la propriété zoom permet de donner à l'élément mainContent l'attribut "hasLayout." Cela évite l'apparition de plusieurs bogues spécifiques d'Internet Explorer.
*/
.thrColHybHdr #mainContent {
 	margin: 0 12em 0 12em; /* la marge droite peut être indiquée en ems ou en pixels. Elle crée l'espace dans la partie inférieure du côté droit de la page. */ 
	padding: 0 2em 0 2em; /* ce remplissage permet de créer un espace vide à l'intérieur du cadre. */
} 
.thrColHybHdr #footer { 
	padding: 0 10px; /* ce remplissage correspond à l'alignement à gauche des éléments des div qui apparaissent au-dessus. */
	background:#DDDDDD;
} 
.thrColHybHdr #footer p {
	margin: 0; /* la mise à zéro de la marge du premier élément du pied de page permet d'éviter une possible disparition de la marge (espace entre les éléments div) */
	padding: 10px 0; /* l'utilisation d'un remplissage pour cet élément crée un espace, tout comme une marge l'aurait fait, mais en évitant le risque de disparition de la marge */
}

/* Diverses classes à réutiliser */
.fltrt { /* cette classe permet de rendre flottant le côté droit d'un élément dans la page. L'élément flottant doit précéder l'élément à côté duquel il doit se trouver dans la page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* cette classe permet de rendre flottant le côté gauche d'un élément dans la page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* cette classe doit être placée pour un élément div ou break et doit être l'élément final avant la balise de fin d'un conteneur qui doit contenir entièrement un élément flottant */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}